body{
    background-color: #E6FDFF;
}

#titulo{
    font-family:Georgia, 'Times New Roman', Times, serif ; 
    text-align: center;
}

#minha-foto{
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

#primeiro-p{
    position: absolute; top: 80px; left: 350px;
}

#div-h2{
    position: absolute; top: 150px; left: 350px;
}


#barra{
    position: absolute; top: 200px; left: 570px;
}

#div-lista{
    position: absolute; top: 150px; left: 600px;
}
.A{
    text-decoration: none;
    display: inline-block;
    background-color: white;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: black;
    border-radius: 60px;
    border: solid 3px;
}

#barra-lateral ul li{
    display: inline-block;
    
}

#barra-lateral ul{
    display: inline-block;
    margin-right: 600px;
}



.A:hover{
    background-color: aqua;
    font-size: 18px;
    transition: 1s;
}


#rodape{
    border-top: solid 1px black;
    text-align: center;
}







